.body {
  margin: 0px auto;
  max-width: 1380px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #e8ebe4;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: header;
  background-color: midnightblue;
}

.h-p {
  color: #fff;
}

.main {
  grid-area: main;
  border: 1px solid black;
}

.sidebar {
  display: flex;
  align-items: start;
  flex-direction: column;
  grid-area: sidebar;
  border: 1px solid black;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: footer;
  background-color: rgb(186, 186, 186);
}

.f-p {
  font-size: smaller;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
