.body {
  margin: 0px auto;
  max-width: 1024px;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #d0d0d0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: header;
  background-color: midnightblue;
}

.h-p {
  color: #fff;
}

.main {
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #b4b3b3;
  gap: 10px;
  width: 70%;
  margin: 10px;
}

.sidebar {
  background-color: rgb(216, 221, 254);
  display: flex;
  align-items: start;
  flex-direction: column;
  grid-area: sidebar;
  width: 30%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: solid 1px #e1e1e1;
}

.card p {
  padding: 2em;
}

img {
  width: 200px;
  height: auto;
}

.txt_01 {
  font-weight: lighter;
  margin: 0%;
}

.boton {
  display: flex;
  width: 100%;
  background-color: midnightblue;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 1em;
  color: #fff;
  font-size: small;
  font-weight: lighter;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: footer;
  background-color: rgb(186, 186, 186);
}

.f-p {
  font-size: smaller;
  font-style: normal;
}

.grid-container {
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}
